html,
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

#header .banner {
    background: #0887F0;
    color: #ffffff;
    text-align: center;
    padding: 0.75rem 0;
}
#header .store-info {
    background: #033157;
    color: #E5E5E5;
    padding: 0.75rem 0;
}

#logo {
    position: absolute;
    top: 0;
    left: 1rem;
    width: 200px;
    height: 200px;
    max-width: 25vw;
    max-height: 25vw;
}

.content-section {
    padding: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#footer .info {
    background: #253238;
    color: #E5E5E5;
    padding: 3rem 0;
}

#footer .info h4 {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #C4A981;
}

#footer .copyright {
    background: #212121;
    color: #E5E5E5;
    padding: 0.75rem 0;
    font-size: 0.75rem;
}

#footer a:not(.btn) {
    color: #C4A981;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 3rem;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 2.5rem;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 2rem;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

iframe {
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
}