/* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-slab-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
    url('../fonts/roboto-slab-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-slab-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-slab-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-slab-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-slab-v7-latin-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* roboto-slab-700 - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-slab-v7-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
    url('../fonts/roboto-slab-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-slab-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-slab-v7-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-slab-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-slab-v7-latin-700.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}
/* raleway-regular - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Raleway'), local('Raleway-Regular'),
    url('../fonts/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-italic - latin */
@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/raleway-v12-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Raleway Italic'), local('Raleway-Italic'),
    url('../fonts/raleway-v12-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/raleway-v12-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/raleway-v12-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('../fonts/raleway-v12-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/raleway-v12-latin-italic.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway-v12-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Raleway Bold'), local('Raleway-Bold'),
    url('../fonts/raleway-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/raleway-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/raleway-v12-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/raleway-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/raleway-v12-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}

html,
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    color: #0887F0;
}

a:hover,
a:focus,
a:active {
    color: #033157;
}

#header .banner {
    background: #0887F0;
    color: #ffffff;
    text-align: center;
    padding: 0.75rem 0;
}

#header .banner img.emoji {
    display: inline-block;
    font-size: 1.25rem;
    animation: wiggle 1.5s infinite;
    vertical-align: middle;
}

#header .store-info {
    background: #033157;
    color: #E5E5E5;
    padding: 0.75rem 0;
}

#logo {
    position: absolute;
    top: 0;
    left: 1rem;
    width: 200px;
    height: 200px;
    max-width: 25vw;
    max-height: 25vw;
}

.content-section {
    padding: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content-section .container > *:first-child {
    margin-top: 0;
}

.content-section .container > *:last-child {
    margin-bottom: 0;
}

#footer .info {
    background: #253238;
    color: #E5E5E5;
    padding: 2rem 0;
}

#footer .info h4 {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #C4A981;
}

#footer .payment {
    background: #C0C0C0;
    padding: 1rem 0;
}

#footer .payment img {
    max-width: 56px;
}

#footer .copyright {
    background: #212121;
    color: #E5E5E5;
    padding: 1rem 0;
    font-size: 0.75rem;
}

#footer a:not(.btn) {
    color: #C4A981;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 3rem;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 2.5rem;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 2rem;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

iframe {
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    max-height: calc(100vh / 3 * 2);
}

.embed-responsive-26by9::before {
    padding-top: 34.615385%;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    40% { transform: rotate(0deg); }
    45% { transform: rotate(10deg); }
    55% { transform: rotate(-10deg); }
    65% { transform: rotate(10deg); }
    75% { transform: rotate(-10deg); }
    85% { transform: rotate(10deg); }
    95% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}